body,
.dashboard {
    margin: 0;
    padding: 0;
}

/* Footer */
.footer {
    width: 100%;
    height: 100%;
    background-color: #213555;
    /* Warna latar belakang footer */
    color: #b1b1b1;
    text-align: center;
    position: relative;
    bottom: 0;
    padding-top: 62px;
    padding-bottom: 5px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 33px;
    /* Menambahkan jarak antar elemen di footer */
}

/* Konten footer */
.footer-content p {
    font-family: Inter, sans-serif;
    font-size: 14px;
    margin: 5px 0;
}

/* Menu Footer */
.footer .nav-links {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/* Menu Link */
.footer .nav-link {
    text-align: center;
    color: white;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 0.90px;
    word-wrap: break-word;
    padding: 10px;
}

/* Box Transparan saat Menu Aktif */
.footer .nav-link.active {
    background-color: rgba(255, 255, 255, 0.2);
    /* Transparan background */
    border-radius: 50px;
    padding: 5px 18px;
    /* Membuat sudut tumpul */
}

/* Styling untuk logo dan teks Digilib */
.footer .logo-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.footer .logo-container img {
    width: 130px;
    height: auto;
    /* Ukuran logo */
}

.footer .divider {
    text-align: center;
    color: white;
    font-size: 9px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 0.60px;
    word-break: normal;
}

/* Responsive */
@media (max-width: 768px) {
    .footer .nav-links {
        flex-direction: column;
    }

    .footer .logo-container {
        flex-direction: column;
    }
}