/* Navbar utama */
.navbar {
    width: 100%;
    /* height: 100%; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 10px;
    background: #6187B7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    /* opacity: 0.75; */
}

/* Konten navbar */
.navbar-container {
    /* align-self: stretch; */
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

/* Logo dan teks DigiLib */
.logo {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 0;
}

.logo-icon {
    width: 54px;
    height: 56px;
}

/* Tautan Navigasi */
.nav-links {
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: flex;
}

.nav-link.active a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.nav-link {
    text-align: center;
    color: #eee;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 0.90px;
    word-break: normal;
    white-space: nowrap;
}

.divider {
    text-align: center;
    color: white;
    font-size: 9px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    letter-spacing: 0.60px;
    word-break: normal;
}

/* Profil Pengguna */
.user-profile {
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    display: flex;
}

.user-name {
    text-align: right;
    color: white;
    font-size: 15px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.user-avatar {
    width: 55px;
    height: 55px;
    background: #00FF00;
    /* Warna hijau untuk avatar */
    border-radius: 100px;
}

/* Responsif untuk Mobile */
@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        gap: 4px;
    }

    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .user-profile {
        flex-direction: column;
        gap: 10px;
    }
}